<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about contents">
        <h2>About us</h2>
        <p>kcccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc</p>
        <p>kcccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc</p>
        <p>kcccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc</p>
        <p>kcccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc</p>
        <p>kcccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc</p>
        <p>kcccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>